body {
    background-color: #CDD8E0;
    font-family: Nunito;
    margin-top: 2rem;
}
.bbtitle {
    text-align: center;
    margin: 2rem 0rem;
    color: #10142D;
    font-weight: 700;
}
.logincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #10142D;
}
.loginimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.usersignin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}
.signinfield
{
    margin-bottom: 3rem;
    width: 80%;
    padding: .375rem .75rem;
    line-height: 1.5;
    border: thin solid #10142D;
    border-radius: 5px;
    background-color: #CDD8E0;
    color: #10142D;
}
#signinbtn {
    width: 80%;
    background-color: #10142D;
    border: none;
    color: #CDD8E0;
    text-align: center;

}
#createacctbtn {
    width: 80%;
    background-color: #CDD8E0;
    color: #10142D;
    border: thin solid #10142D;
    margin: 1rem 0rem;
}
.topaccount {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.acctimglrg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.topaccount button{
    margin-top: 1.5rem;
    width: 60%;
    background-color: #10142D;
    color: #CDD8E0;
    font-weight: 600;
}
.createaccountform {
    margin: 2rem 0 0 4rem;
    font-size: 20px;
    font-weight: 700;
}
#cracctmain input {
    background-color: #9EB3C2;
    border: solid thin #10142D;
    border-radius: 5px;
    padding: .375rem .75rem;
}
.createaccountform2 {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 700;
}
.createacctfield {
    margin: 2rem;
}
#cracctbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
#cracctbtn button {
    margin-top: 1.5rem;

    font-weight: 600;
    width: 60%;
    padding: 1rem;
}
#creation {
    background-color: #10142D;
    color: #CDD8E0;
}
#cancelbtn {
    background-color: #CDD8E0;
    border: solid thin #10142D;
    color: #10142D;
}
